.footer {
    padding: 10px;
    text-align: center;
}

.footer__link {
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

.footer__link:visited {
    color: orangered;
}

.footer__link:focus {
    outline: 2px solid currentColor;
}

.footer__link:hover {
    color: crimson;
    border-bottom: 1px solid;
    outline: none;
}